body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif
}


input {
    width: 220px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 50px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: rgb(0, 0, 0);
    background: rgb(175, 252, 255);
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 20px 40px black;

}


.login {
    width: 280px;
    height: 350px;
    background: #f8ff8f;
    border-radius: 10px    
}



.login p {
text-align: center;
padding: 20px;
}

